ROS_DISTRO={{ ros_distro }}
ROS_DOMAIN_ID={{ uav_ros_domain }}
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
CYCLONEDDS_URI=file:///etc/uav/ros/cyclonedds.xml
ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET
ROS_LOG_DIR=/var/log/uav-ros
HOME=/var/lib/uav-ros
PYTHONUNBUFFERED=1
