avia_driver:
  ros__parameters:
    broadcast_code: "{{ avia_broadcast_code }}"
    lidar_ip: "{{ avia_lidar_ip }}"
    frame_id: "{{ avia_frame_id }}"
    publish_rate_hz: {{ avia_publish_rate_hz }}
    receipt_timeout_sec: {{ avia_receipt_timeout_sec }}
    use_sim_time: false
