# Managed by uav_ansible (flight_recorder).
uav_flight_recorder:
  ros__parameters:
    bag_dir: {{ flight_recorder_dir | to_json }}
    arm_source: {{ flight_recorder_arm_source | to_json }}
    mavlink_endpoint: {{ flight_recorder_mavlink_endpoint | to_json }}
    mavlink_stale_sec: {{ flight_recorder_mavlink_stale_sec | float }}
    rc_channel: {{ flight_recorder_rc_channel | int }}
    rc_mode: {{ flight_recorder_rc_mode | to_json }}
    armed_topic: {{ flight_recorder_armed_topic | to_json }}
    safety_topic: {{ flight_recorder_safety_topic | to_json }}
    manual_topic: {{ flight_recorder_manual_topic | to_json }}
    post_roll_sec: {{ flight_recorder_post_roll_sec | float }}
    safed_grace_sec: {{ flight_recorder_safed_grace_sec | float }}
    min_free_gb: {{ flight_recorder_min_free_gb | float }}
    exclude_regex: {{ flight_recorder_exclude_regex | to_json }}
    storage_preset: {{ flight_recorder_storage_preset | to_json }}
    max_cache_size: {{ flight_recorder_max_cache_size | int }}
